@charset "UTF-8";
@import "./common/var/base.css";
@import "./common/var/sidebar.css";

@component-namespace el {
  @b sidebar-item {
    @extend sidebar-item;

    & [class^="el-icon-"] {
      vertical-align: baseline;
      margin-right: 15px;
    }

    &:hover {
      background-color: var(--color-item-hover);
    }

    @when active {
      color: var(--color-primary);
    }
  }
}
