@charset "UTF-8";
@import "./common/var/base.css";
@import "./common/var/sidebar.css";

@component-namespace el {
  @b sidebar-item {
    @extend sidebar-item;
    border: solid 0px transparent;
    border-left-width: 5px;

    & [class^="el-icon-"] {
      vertical-align: baseline;
      margin-right: 15px;
    }

    &:hover {
      background-color: rgba(170, 170, 170, .1);
    }

    @when active {
      border-color: var(--color-primary);
      background-color: rgba(170, 170, 170, .1);
    }
  }
}
