:root {
  /* Colors
  -------------------------- */
  --color-primary: #71BE2D;

  --color-success: #13ce66;
  --color-warning: #f7ba2a;
  --color-danger: #ff4949;
  --color-info: #50bfff;

  --color-white: #ffffff;
  --color-black: #000000;

  --disabled-color: #999999;
  --disabled-fill: #e9e9e9;
  --disabled-border-color: #999999;

  /* Link
  -------------------------- */
  --link-color: var(--color-black);
  --link-hover-color: var(--color-primary);

  /* Border
  -------------------------- */
  --border-width-base: 1px;
  --border-style-base: solid;
  --border-color-base: #cccccc;
  --border-color-disabled: #cccccc;
  --border-color-hover: #cccccc;
  --border-base: var(--border-width-base) var(--border-style-base) var(--border-color-base);
  --border-radius-base: 2px;

  /* Box-shadow
  -------------------------- */
  --box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  --box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12);

  /* Font
  -------------------------- */
  --font-size-base: 14px;
  --font-color-base: var(--color-black);
  --font-color-disabled-base: #bbb;

  /* Size
  -------------------------- */
  --size-base: 14px;

  /* z-index
  -------------------------- */
  --index-normal: 1;
  --index-top: 1000;
  --index-popper: 2000;

  /* Icon
  -------------------------- */
  --icon-color: var(--border-color-base);
}
