@import "./base.css";

:root {
  --select-border-color-hover: var(--color-primary);
  --select-disabled-border: #cccccc;
  --select-font-size: var(--font-size-base);
  --select-close-hover-color: var(--color-black);

  --select-input-color: var(--color-black);
  --select-multiple-input-color: #666;
  --select-input-focus-background: var(--color-primary);
  --select-input-font-size: 12px;

  --select-tag-height: 16px;
  --select-tag-color: var(--color-white);
  --select-tag-background: var(--color-primary);

  --select-option-color: var(--color-black);
  --select-option-disabled-color: var(--color-black);
  --select-option-height: 36px;
  --select-option-hover-background: var(--picker-cell-hover-color);
  --select-option-selected-color: var(--color-primary);
  --select-option-selected-fill: transparent;
  --select-option-selected-hover: var(--select-option-hover-background);

  --select-group-color: #999;
  --select-group-height: 30px;
  --select-group-font-size: 12px;

  --select-dropdown-background: var(--color-white);
  --select-dropdown-shadow: var(--box-shadow-base);
  --select-dropdown-empty-color: #999;
  --select-dropdown-max-height: 300px;
  --select-dropdown-padding: 6px 0;
  --select-dropdown-empty-padding: 10px 0;
  --select-dropdown-border: solid 1px #cccccc;
}
