@import "./base.css";

:root {

}

@define-extend sidebar-item {
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  color: var(--color-grey);
  cursor: pointer;
  position: relative;
  transition: border-color .3s, background-color .3s, color .3s;
  box-sizing: border-box;
  white-space: nowrap;
}
